/*Type face import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*Main sections*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #555;
}

/*Type weight and sizing*/
.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.semi_bold{
    font-weight: 500;
    font-size: 16px;
}

/*Resume sections*/
.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}

.resume .resume_left {
    width: 280px;
    background: #F7D358;
}

/*Profile section*/
.resume .resume_left .resume_profile{
    width: 100%;
    height: 280px;
}

.resume .resume_left .resume_profile img{
    width: 100%;
    height: 100%;
}

.name{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
}

/*Resume left*/
.resume .resume_left .resume_content{
    padding: 0 25px;
}

.resume .title{
    margin-bottom: 20px;
}

/*Left section font colors*/
.resume .resume_left .bold {
    color:#fff;
}

.resume .resume_left .regular{
    color: #FFF1BE;
}

/*Items spacing*/
.resume .resume_item{
    padding: 25px 0; 
    border-bottom: 2px solid #FFF1BE;
}

.resume .resume_left .resume_item:last-child{
    border: 0px;
}

/*Left list items display*/
.resume .resume_left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.resume .resume_left ul li:last-child{
    margin-bottom: 0;
}

/*Icon display features and positioning*/
.resume .resume_left ul li .icon{
    width: 35px;
    height: 35px;
    background: #fff;
    color: #F7D358;
    border-radius: 50%;
    margin-radius: 15px;
    font-size: 16px;
    position: relative;
}

.resume .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*List text color*/
.resume .resume_left ul li .data{
    color: #FFF1BE;
}

.resume .resume_left .resume_skills ul li{
    color: #FFF1BE;
}

.resume .resume_left .resume_skills ul li .skill_name{
    letter-spacing: 0.12em;
    word-spacing: 0.05em;
}

/*Right side*/
.resume .resume_right{
    width: 520px;
    background: #fff;
    padding: 25px;
}

.resume .resume_right .bold{
    color:#F7D358;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul{
    padding-left: 40px;
    overflow: hidden;
}

.resume .resume_right ul li{
    position: relative;
}

.resume .resume_right ul li .date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.resume .resume_right ul li .info{
    margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info{
    margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #F7D358;
}

/*.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after{
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 115px;
    background: #F7D358;*/
}
/*Education line graphic*/

/*CofC*/
.resume .resume_right .resume_education .cofc ul li:after{
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 115px;
    background: #F7D358;
}
